<div class="wrapper">
    <div><button>Home</button></div>
    <div *ngIf="user == false" class="section">
        <div><button><a href="/user-login">Login User</a></button></div>
        <div><button><a href="/user-register">Register User</a></button></div>
        <div><button><a href="/company-login">Login Company</a></button></div>
        <div><button><a href="/company-register">Register Company</a></button></div>
    </div>
    <div *ngIf="user == true" class="section">
        <div><button><a (click)="logout()">Logout</a></button></div>
        <div><button><a href="/user">Add Post</a></button></div>
        <div><button><a href="/user">View posts</a></button></div>
        <div><button (click)="openSettings()">Settings</button></div>
    </div>
</div>
<app-settings-modal [isShow]=isShownSettings [hide]="hideSettings"></app-settings-modal>