.settings-wrapper{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 50px;
    min-width: 30%;
    border: 1px solid green;
    border-radius: 1rem;
}

.section{
    display: flex;
    gap: 20px;
    justify-content: center;
}

input{
    min-height: 30px;
    font-size: 20px;
    border-radius: 8px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    border: 0;
    border-radius: 1rem;
    padding: 16px 32px;
    color: white;
    background-color: green;
}

button:hover{
    background-color: rgb(2, 57, 2);
}